@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Houze Pet Store</h1>
    <div class="row">
        <div class="col-lg-5">
            <img src="http://i.imgur.com/bUfRXrv.jpg" width="400">
        </div>
        <div class="col-lg-5">
            <br />
            <p class="lead">This site was designed to help our customers check out all the wonderful pets that we have in stock!</p><br />
            <p class="lead">Please use the Inventory page above to view our animals.  Use the Manage 
                            page if you would like to update the information of our current inhabitants</p>
        </div>
    </div>
</div>